:root{
    --container-background: #f8f8f8;
    overflow-x: hidden;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 130px;
    z-index: 1;
}

.navbar{
    background-color: #003366;
}

.navbar-logo {
    height: 100%; 
    width: auto; 
    object-fit: contain; 
}

main{
    padding: 0 10%;
}

h1{
    font-size: 3rem;
    text-align: center;
    padding-top: 20px;
}

h2{
    font-size: 3rem;
    text-align: center;
<<<<<<< Updated upstream
    padding-top: 50px;
=======
    padding-top: 60px;
    padding-bottom: 20px;
>>>>>>> Stashed changes
}

form{
    margin: 30px 0;
}

section > img{
    display: block;
    margin: auto;
    width: 50%;
    max-width: 500px;
    max-height: 500px;
}

.text-container{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_632/628bf030585931.562963fd67f0f.gif);
    background-size: cover;
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    font-size: 1.5rem;
    padding: 5%;
    background-blend-mode: lighten;
}

.text-container img{
    height: 100%;
}

.text-container .paragraph{
    color: white;
    padding-right: 5%;
}

.paragraph{
    text-shadow: black 6px;
} 

.img-slider{
    border: 1px solid gray;
}

.form-group{
    padding: 0 5%;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}
.card img {
    max-width: 100%;
    max-height: 100%;
    height: 11em;
}

.card {
    margin: 0 2%;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    max-width: 350px;
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev, .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

label.is-invalid{
    font-weight: 300;
    color: red;
}

#project-carousel img{
    max-height: 800px;
}

.locationMap{
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

footer{
    text-align: center;
    max-height: 200px;
}

.footer-line{
    width: 100vw;
    height: 5px;
    margin: 10px 0;
    background-color: gray;
}

h4{
    text-transform: uppercase;
    color: blue;
}

button[type=submit]{
    padding: auto;
}