:root{
    --container-background: #f8f8f8;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 200;
    height: auto; 
    max-height: 300px; 
    z-index: 1;
    box-sizing: border-box; 
}

.navbar {
    background-color: #003366;
    padding: 0.5rem 1rem;
    max-height: 100%;
}

.navbar-logo {
    height: auto; 
    max-height: 100px; 
}

main{
    padding: 0 15%;
}

h1{
    font-size: 4em;
    text-align: center;
    padding-bottom: 0.5em;
}

h2{
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
}

form{
    margin: 2em 0;
}

section > img {
    display: block;
    margin: auto;
    max-width: 700px; 
    max-height: 600px; 
    min-height: 400px; 
}

.text-container{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_632/628bf030585931.562963fd67f0f.gif);
    background-size: cover;
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    font-size: 1em;
    padding: 5%;
    background-blend-mode: lighten;
    color: white;
}

.text-container img {
    max-width: 450px; 
    height: auto; 
    object-fit: contain; 
}

.paragraph{
    font-size: 1.5em;
}

.form-group{
    padding: 0 5%;
}

.cards-wrapper {
    justify-content: center;
    padding: 1em;
}

.card img {
    max-width: 100%;
    height: 11em; 
    object-fit: cover; 
}

.card {
    margin: 5% 2%; 
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18); 
    border: none;
    border-radius: 0;
    max-width: 350px; 
}

.carousel-inner {
    padding: 1em;
    border: 1px solid gray;
}

.carousel-control-prev, .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

label.is-invalid{
    font-weight: 300;
    color: red;
}

#project-carousel img{
    max-height: 600px;
}

.locationMap{
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    max-width: 60%;
    max-height: auto;
    overflow: hidden;
}

.locationMap iframe {
    width: 100%;
    max-height: 450px; 
}

footer{
    text-align: center;
    max-height: 200px;
    width: 100%;
}

.footer-line{
    width: 100%;
    height: 5px;
    margin: 10px 0;
    background-color: gray;
}

h4{
    text-transform: uppercase;
    color: blue;
}

button[type=submit]{
    padding: auto;
}

@media (max-width: 1000px) {
    .navbar-logo {
        max-height: 50px; 
    }

    main{
        padding: 0 5%;
    }
    .text-container img {
        height: 0;
        width: 0;
    }

    section > img {
        max-height: 250px; 
        min-height: 150px; 
        width: 100%;
        height: auto;
    }

    h1{
        font-size: 2em;
    }
    
    h2{
        font-size: 1em;
    }

    .paragraph{
        font-size: 0.75em;
    }
}