header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 130px;
}

.navbar-logo {
    height: 100%; 
    width: auto; 
    object-fit: contain; 
}

h1{
    font-size: 3rem;
    text-align: center;
}

h2{
    font-size: 3rem;
    text-align: center;
}

footer{
    text-align: center;
}

.footer-line{
    width: 100vw;
    height: 5px;
    margin: 10px 0;
    background-color: blue;
}

h4{
    text-transform: uppercase;
    color: blue;
}